<template>
  <div class="container mx-auto flex gap-10 py-16">
    <div 
      class="flex flex-col gap-10"
      v-for="(item) in shopList"
      :key="item.id"
    >
      <img class="w-full rounded-lg" :src="item.image" alt="">
      <div class="flex items-center justify-between">
        <p class="text-xl font-semibold"> {{item.name}} </p>
        <p class="text-xl font-semibold"> {{item.price}} $ </p>
        <button class="p-3 bg-green-200 rounded-md" @click="Basket(item)">basket
          
        </button>
      </div>
    </div>
    
  </div>
  <div class="container mx-auto ">
    <h1 class="font-bold text-2xl mb-8">BASKET</h1>
    <div class="flex flex-col gap-5">
        
        <div class="flex gap-3 items-center" v-for="(stuff,index) in addBasket"
          :key="stuff.id" >
          <p> {{stuff.name}} </p>
          <p> {{stuff.price}} $ </p>
          <i @click="deleteItem(index)" class="fa-solid fa-trash-can cursor-pointer"></i>
        </div>
        <p> total amount: {{this.amount}} </p>
        <p> total price: {{totalPrice()}} $ </p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      amount:0,
      shopList: [],
      addBasket: []
    }
  },
  mounted() {
    this.getItems()
  },
  
  methods: {
    getItems() {
      fetch("/shop.json").then(res=>res.json())
      .then((data) => {
        for (let i = 0; i < data.length; i++) {
          this.shopList.push(data[i])          
        }

      })
    },
    Basket(item) {
      this.amount++
      this.addBasket.push(item)
    },
    totalPrice() {
      return this.addBasket.reduce((current,next)=>
      current+next.price,0)
    },
    deleteItem(index) {
      this.addBasket.splice(index,1)
      this.amount--
      return this.addBasket.reduce((current,next)=>
      next-current.price,0)
    }
  },
}
</script>

